In [60]:
#Importing Libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [62]:
#data_path
data = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/AB_NYC_2019.csv'

In [64]:
#storing the data
!wget $data -O data-week_-3.csv

--2021-09-27 13:48:04--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/AB_NYC_2019.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7077973 (6.8M) [text/plain]
Saving to: 'data-week_-3.csv'

     0K .......... .......... .......... .......... ..........  0% 1.41M 5s
    50K .......... .......... .......... .......... ..........  1% 2.24M 4s
   100K .......... .......... .......... .......... ..........  2% 2.98M 3s
   150K .......... .......... .......... .......... ..........  2% 2.95M 3s
   200K .......... .......... .......... .......... ..........  3% 2.80M 3s
   250K .......... .......... .......... .......... ..........  4% 3.95M 3s
   300K .......... .......... .......... .......... ..........  5% 3.25M 3s
   350K .......... .......... .......... .......... ..........  5% 1.99M 3s
   400K .......... .......... .......... .......... ..........  6% 5.43M 2s
   450K .......... .......... .......... .......... ..........  7% 2.29M 2s
   500K .......... .......... .......... .......... ..........  7% 3.30M 2s
   550K .......... .......... .......... .......... ..........  8% 1.96M 2s
   600K .......... .......... .......... .......... ..........  9% 2.96M 2s
   650K .......... .......... .......... .......... .......... 10% 4.08M 2s
   700K .......... .......... .......... .......... .......... 10% 2.03M 2s
   750K .......... .......... .......... .......... .......... 11% 25.7M 2s
   800K .......... .......... .......... .......... .......... 12% 1.64M 2s
   850K .......... .......... .......... .......... .......... 13% 9.75M 2s
   900K .......... .......... .......... .......... .......... 13% 2.28M 2s
   950K .......... .......... .......... .......... .......... 14% 9.30M 2s
  1000K .......... .......... .......... .......... .......... 15% 2.27M 2s
  1050K .......... .......... .......... .......... .......... 15% 5.76M 2s
  1100K .......... .......... .......... .......... .......... 16% 4.23M 2s
  1150K .......... .......... .......... .......... .......... 17% 5.37M 2s
  1200K .......... .......... .......... .......... .......... 18% 6.18M 2s
  1250K .......... .......... .......... .......... .......... 18% 4.40M 2s
  1300K .......... .......... .......... .......... .......... 19% 5.59M 2s
  1350K .......... .......... .......... .......... .......... 20% 5.05M 2s
  1400K .......... .......... .......... .......... .......... 20% 4.20M 2s
  1450K .......... .......... .......... .......... .......... 21% 6.66M 2s
  1500K .......... .......... .......... .......... .......... 22% 4.77M 2s
  1550K .......... .......... .......... .......... .......... 23% 6.65M 2s
  1600K .......... .......... .......... .......... .......... 23% 5.29M 2s
  1650K .......... .......... .......... .......... .......... 24% 6.06M 1s
  1700K .......... .......... .......... .......... .......... 25% 6.82M 1s
  1750K .......... .......... .......... .......... .......... 26% 2.15M 1s
  1800K .......... .......... .......... .......... .......... 26% 90.6M 1s
  1850K .......... .......... .......... .......... .......... 27% 14.7M 1s
  1900K .......... .......... .......... .......... .......... 28% 2.34M 1s
  1950K .......... .......... .......... .......... .......... 28% 6.75M 1s
  2000K .......... .......... .......... .......... .......... 29% 7.61M 1s
  2050K .......... .......... .......... .......... .......... 30% 4.88M 1s
  2100K .......... .......... .......... .......... .......... 31% 6.05M 1s
  2150K .......... .......... .......... .......... .......... 31% 8.00M 1s
  2200K .......... .......... .......... .......... .......... 32% 5.21M 1s
  2250K .......... .......... .......... .......... .......... 33% 6.21M 1s
  2300K .......... .......... .......... .......... .......... 33% 8.49M 1s
  2350K .......... .......... .......... .......... .......... 34% 8.94M 1s
  2400K .......... .......... .......... .......... .......... 35% 5.03M 1s
  2450K .......... .......... .......... .......... .......... 36% 8.97M 1s
  2500K .......... .......... .......... .......... .......... 36% 8.88M 1s
  2550K .......... .......... .......... .......... .......... 37% 6.56M 1s
  2600K .......... .......... .......... .......... .......... 38% 3.59M 1s
  2650K .......... .......... .......... .......... .......... 39% 97.4M 1s
  2700K .......... .......... .......... .......... .......... 39% 7.53M 1s
  2750K .......... .......... .......... .......... .......... 40% 6.54M 1s
  2800K .......... .......... .......... .......... .......... 41% 3.82M 1s
  2850K .......... .......... .......... .......... .......... 41% 9.52M 1s
  2900K .......... .......... .......... .......... .......... 42% 9.84M 1s
  2950K .......... .......... .......... .......... .......... 43% 3.28M 1s
  3000K .......... .......... .......... .......... .......... 44% 81.1M 1s
  3050K .......... .......... .......... .......... .......... 44% 10.5M 1s
  3100K .......... .......... .......... .......... .......... 45% 2.73M 1s
  3150K .......... .......... .......... .......... .......... 46% 8.77M 1s
  3200K .......... .......... .......... .......... .......... 47% 10.3M 1s
  3250K .......... .......... .......... .......... .......... 47% 10.2M 1s
  3300K .......... .......... .......... .......... .......... 48% 10.3M 1s
  3350K .......... .......... .......... .......... .......... 49% 6.18M 1s
  3400K .......... .......... .......... .......... .......... 49% 7.26M 1s
  3450K .......... .......... .......... .......... .......... 50% 10.1M 1s
  3500K .......... .......... .......... .......... .......... 51% 10.3M 1s
  3550K .......... .......... .......... .......... .......... 52% 7.80M 1s
  3600K .......... .......... .......... .......... .......... 52% 8.79M 1s
  3650K .......... .......... .......... .......... .......... 53% 10.9M 1s
  3700K .......... .......... .......... .......... .......... 54% 10.1M 1s
  3750K .......... .......... .......... .......... .......... 54% 8.44M 1s
  3800K .......... .......... .......... .......... .......... 55% 7.82M 1s
  3850K .......... .......... .......... .......... .......... 56% 9.88M 1s
  3900K .......... .......... .......... .......... .......... 57% 10.6M 1s
  3950K .......... .......... .......... .......... .......... 57% 10.3M 1s
  4000K .......... .......... .......... .......... .......... 58% 7.95M 1s
  4050K .......... .......... .......... .......... .......... 59% 9.91M 1s
  4100K .......... .......... .......... .......... .......... 60% 10.6M 1s
  4150K .......... .......... .......... .......... .......... 60% 9.35M 1s
  4200K .......... .......... .......... .......... .......... 61% 7.63M 1s
  4250K .......... .......... .......... .......... .......... 62% 10.9M 1s
  4300K .......... .......... .......... .......... .......... 62% 10.1M 1s
  4350K .......... .......... .......... .......... .......... 63% 10.5M 0s
  4400K .......... .......... .......... .......... .......... 64% 9.97M 0s
  4450K .......... .......... .......... .......... .......... 65% 10.7M 0s
  4500K .......... .......... .......... .......... .......... 65% 10.3M 0s
  4550K .......... .......... .......... .......... .......... 66% 2.58M 0s
  4600K .......... .......... .......... .......... .......... 67% 3.03M 0s
  4650K .......... .......... .......... .......... .......... 67%  103M 0s
  4700K .......... .......... .......... .......... .......... 68%  108M 0s
  4750K .......... .......... .......... .......... .......... 69%  170M 0s
  4800K .......... .......... .......... .......... .......... 70% 8.24M 0s
  4850K .......... .......... .......... .......... .......... 70% 2.71M 0s
  4900K .......... .......... .......... .......... .......... 71% 7.51M 0s
  4950K .......... .......... .......... .......... .......... 72% 10.2M 0s
  5000K .......... .......... .......... .......... .......... 73% 7.86M 0s
  5050K .......... .......... .......... .......... .......... 73% 10.0M 0s
  5100K .......... .......... .......... .......... .......... 74% 10.3M 0s
  5150K .......... .......... .......... .......... .......... 75% 9.76M 0s
  5200K .......... .......... .......... .......... .......... 75% 9.94M 0s
  5250K .......... .......... .......... .......... .......... 76% 10.9M 0s
  5300K .......... .......... .......... .......... .......... 77% 10.3M 0s
  5350K .......... .......... .......... .......... .......... 78% 9.91M 0s
  5400K .......... .......... .......... .......... .......... 78% 7.61M 0s
  5450K .......... .......... .......... .......... .......... 79% 10.9M 0s
  5500K .......... .......... .......... .......... .......... 80% 10.3M 0s
  5550K .......... .......... .......... .......... .......... 81% 10.2M 0s
  5600K .......... .......... .......... .......... .......... 81% 10.2M 0s
  5650K .......... .......... .......... .......... .......... 82% 10.2M 0s
  5700K .......... .......... .......... .......... .......... 83% 10.1M 0s
  5750K .......... .......... .......... .......... .......... 83% 10.3M 0s
  5800K .......... .......... .......... .......... .......... 84% 6.32M 0s
  5850K .......... .......... .......... .......... .......... 85% 10.5M 0s
  5900K .......... .......... .......... .......... .......... 86% 10.3M 0s
  5950K .......... .......... .......... .......... .......... 86% 10.3M 0s
  6000K .......... .......... .......... .......... .......... 87% 10.2M 0s
  6050K .......... .......... .......... .......... .......... 88% 10.3M 0s
  6100K .......... .......... .......... .......... .......... 88% 9.85M 0s
  6150K .......... .......... .......... .......... .......... 89% 10.7M 0s
  6200K .......... .......... .......... .......... .......... 90% 7.71M 0s
  6250K .......... .......... .......... .......... .......... 91% 10.5M 0s
  6300K .......... .......... .......... .......... .......... 91% 10.3M 0s
  6350K .......... .......... .......... .......... .......... 92% 10.3M 0s
  6400K .......... .......... .......... .......... .......... 93% 10.1M 0s
  6450K .......... .......... .......... .......... .......... 94% 9.74M 0s
  6500K .......... .......... .......... .......... .......... 94% 10.3M 0s
  6550K .......... .......... .......... .......... .......... 95% 10.1M 0s
  6600K .......... .......... .......... .......... .......... 96% 7.91M 0s
  6650K .......... .......... .......... .......... .......... 96% 10.3M 0s
  6700K .......... .......... .......... .......... .......... 97% 10.3M 0s
  6750K .......... .......... .......... .......... .......... 98% 5.98M 0s
  6800K .......... .......... .......... .......... .......... 99% 7.21M 0s
  6850K .......... .......... .......... .......... .......... 99% 18.5M 0s
  6900K .......... ..                                         100% 18.7M=1.1s

2021-09-27 13:48:05 (5.94 MB/s) - 'data-week_-3.csv' saved [7077973/7077973]

In [66]:
#reading the data
df = pd.read_csv('data-week_-3.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [68]:
#replacing_columns_with_lowercase
df.columns = df.columns.str.lower().str.replace(' ', '_')

categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ', '_')

In [70]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,clean_&_quiet_apt_home_by_the_park,2787,john,brooklyn,kensington,40.64749,-73.97237,private_room,149,1,9,2018-10-19,0.21,6,365
1,2595,skylit_midtown_castle,2845,jennifer,manhattan,midtown,40.75362,-73.98377,entire_home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,the_village_of_harlem....new_york_!,4632,elisabeth,manhattan,harlem,40.80902,-73.94190,private_room,150,3,0,NaN,NaN,1,365
3,3831,cozy_entire_floor_of_brownstone,4869,lisaroxanne,brooklyn,clinton_hill,40.68514,-73.95976,entire_home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,entire_apt:_spacious_studio/loft_by_central_park,7192,laura,manhattan,east_harlem,40.79851,-73.94399,entire_home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,charming_one_bedroom_-_newly_renovated_rowhouse,8232441,sabrina,brooklyn,bedford-stuyvesant,40.67853,-73.94995,private_room,70,2,0,NaN,NaN,2,9
48891,36485057,affordable_room_in_bushwick/east_williamsburg,6570630,marisol,brooklyn,bushwick,40.70184,-73.93317,private_room,40,4,0,NaN,NaN,2,36
48892,36485431,sunny_studio_at_historical_neighborhood,23492952,ilgar_&_aysel,manhattan,harlem,40.81475,-73.94867,entire_home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd_st._time_square-cozy_single_bed,30985759,taz,manhattan,hell's_kitchen,40.75751,-73.99112,shared_room,55,1,0,NaN,NaN,6,2
48894,36487245,trendy_duplex_in_the_very_heart_of_hell's_kitchen,68119814,christophe,manhattan,hell's_kitchen,40.76404,-73.98933,private_room,90,7,0,NaN,NaN,1,23

In [72]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [74]:
#filling missing values with 0
df = df.fillna(0)

In [76]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,clean_&_quiet_apt_home_by_the_park,2787,john,brooklyn,kensington,40.64749,-73.97237,private_room,149,1,9,2018-10-19,0.21,6,365
1,2595,skylit_midtown_castle,2845,jennifer,manhattan,midtown,40.75362,-73.98377,entire_home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,the_village_of_harlem....new_york_!,4632,elisabeth,manhattan,harlem,40.80902,-73.94190,private_room,150,3,0,0,0.00,1,365
3,3831,cozy_entire_floor_of_brownstone,4869,lisaroxanne,brooklyn,clinton_hill,40.68514,-73.95976,entire_home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,entire_apt:_spacious_studio/loft_by_central_park,7192,laura,manhattan,east_harlem,40.79851,-73.94399,entire_home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,charming_one_bedroom_-_newly_renovated_rowhouse,8232441,sabrina,brooklyn,bedford-stuyvesant,40.67853,-73.94995,private_room,70,2,0,0,0.00,2,9
48891,36485057,affordable_room_in_bushwick/east_williamsburg,6570630,marisol,brooklyn,bushwick,40.70184,-73.93317,private_room,40,4,0,0,0.00,2,36
48892,36485431,sunny_studio_at_historical_neighborhood,23492952,ilgar_&_aysel,manhattan,harlem,40.81475,-73.94867,entire_home/apt,115,10,0,0,0.00,1,27
48893,36485609,43rd_st._time_square-cozy_single_bed,30985759,taz,manhattan,hell's_kitchen,40.75751,-73.99112,shared_room,55,1,0,0,0.00,6,2
48894,36487245,trendy_duplex_in_the_very_heart_of_hell's_kitchen,68119814,christophe,manhattan,hell's_kitchen,40.76404,-73.98933,private_room,90,7,0,0,0.00,1,23

In [78]:
#train_test_split
from sklearn.model_selection import train_test_split

In [80]:
#splitting the datas into train/val/test
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [82]:
len(df_train), len(df_val), len(df_test)

(29337, 9779, 9779)

In [84]:
#reset_the_index
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [86]:
#target_variables
y_train = df_train.price.values
y_val = df_val.price.values
y_test = df_test.price.values

#delete_target_variable_from_train/val/test
del df_train['price']
del df_val['price']
del df_test['price']

Question 1

In [88]:
#Most frequent observation (mode) for the column 'neighbourhood_group'
df_train.neighbourhood_group.mode()

0    manhattan
dtype: object

In [90]:
#numerical_features
numerical = ['latitude','longitude','minimum_nights','number_of_reviews',
'reviews_per_month','calculated_host_listings_count','availability_365']

In [92]:
#categorical_features
categorical = ['neighbourhood_group','room_type']

Question 2

In [93]:
#Calculating Correlation between numerical features
def corre():

    numerical = ['latitude','longitude','minimum_nights','number_of_reviews',
    'reviews_per_month','calculated_host_listings_count','availability_365']

    cor_list = []
    cor_feat = []

    for i in numerical:
        (df_train[numerical].corrwith(df_train[numerical][i]))
        cor_feat.append("Correlated_with %s" %i)
        cor_list.append((df_train[numerical].corrwith(df_train[numerical][i])))
        


    return cor_feat,cor_list

In [94]:
correlated_feature,correlation_list = corre()

In [95]:
#correlation_between_different_numerical_features
correlation_list[:]

[latitude                          1.000000
 longitude                         0.080301
 minimum_nights                    0.027441
 number_of_reviews                -0.006246
 reviews_per_month                -0.007159
 calculated_host_listings_count    0.019375
 availability_365                 -0.005891
 dtype: float64,
 latitude                          0.080301
 longitude                         1.000000
 minimum_nights                   -0.060660
 number_of_reviews                 0.055084
 reviews_per_month                 0.134642
 calculated_host_listings_count   -0.117041
 availability_365                  0.083666
 dtype: float64,
 latitude                          0.027441
 longitude                        -0.060660
 minimum_nights                    1.000000
 number_of_reviews                -0.076020
 reviews_per_month                -0.120703
 calculated_host_listings_count    0.118647
 availability_365                  0.138901
 dtype: float64,
 latitude                         -0.006246
 longitude                         0.055084
 minimum_nights                   -0.076020
 number_of_reviews                 1.000000
 reviews_per_month                 0.590374
 calculated_host_listings_count   -0.073167
 availability_365                  0.174477
 dtype: float64,
 latitude                         -0.007159
 longitude                         0.134642
 minimum_nights                   -0.120703
 number_of_reviews                 0.590374
 reviews_per_month                 1.000000
 calculated_host_listings_count   -0.048767
 availability_365                  0.165376
 dtype: float64,
 latitude                          0.019375
 longitude                        -0.117041
 minimum_nights                    0.118647
 number_of_reviews                -0.073167
 reviews_per_month                -0.048767
 calculated_host_listings_count    1.000000
 availability_365                  0.225913
 dtype: float64,
 latitude                         -0.005891
 longitude                         0.083666
 minimum_nights                    0.138901
 number_of_reviews                 0.174477
 reviews_per_month                 0.165376
 calculated_host_listings_count    0.225913
 availability_365                  1.000000
 dtype: float64]

In [96]:
correlated_feature

['Correlated_with latitude',
 'Correlated_with longitude',
 'Correlated_with minimum_nights',
 'Correlated_with number_of_reviews',
 'Correlated_with reviews_per_month',
 'Correlated_with calculated_host_listings_count',
 'Correlated_with availability_365']

In [97]:
len(correlation_list)

7

In [98]:
#storing the correlation values as a list
cor_val = []
for i in range(7):
    cor_val.append(correlation_list[i].values)

In [99]:

cor_val

[array([ 1.        ,  0.08030088,  0.02744122, -0.00624562, -0.00715934,
         0.01937516, -0.00589119]),
 array([ 0.08030088,  1.        , -0.06065967,  0.05508445,  0.13464216,
        -0.11704069,  0.0836655 ]),
 array([ 0.02744122, -0.06065967,  1.        , -0.0760198 , -0.12070279,
         0.11864675,  0.13890125]),
 array([-0.00624562,  0.05508445, -0.0760198 ,  1.        ,  0.5903739 ,
        -0.07316723,  0.17447712]),
 array([-0.00715934,  0.13464216, -0.12070279,  0.5903739 ,  1.        ,
        -0.04876682,  0.16537592]),
 array([ 0.01937516, -0.11704069,  0.11864675, -0.07316723, -0.04876682,
         1.        ,  0.22591309]),
 array([-0.00589119,  0.0836655 ,  0.13890125,  0.17447712,  0.16537592,
         0.22591309,  1.        ])]

In [100]:
#storing the corelation as a pandas data frame
correlation_df = pd.DataFrame(cor_val,index = correlated_feature,columns = correlated_feature)

In [101]:
#correlation matrix between numerical features
correlation_df

,Correlated_with latitude,Correlated_with longitude,Correlated_with minimum_nights,Correlated_with number_of_reviews,Correlated_with reviews_per_month,Correlated_with calculated_host_listings_count,Correlated_with availability_365
Correlated_with latitude,1.000000,0.080301,0.027441,-0.006246,-0.007159,0.019375,-0.005891
Correlated_with longitude,0.080301,1.000000,-0.060660,0.055084,0.134642,-0.117041,0.083666
Correlated_with minimum_nights,0.027441,-0.060660,1.000000,-0.076020,-0.120703,0.118647,0.138901
Correlated_with number_of_reviews,-0.006246,0.055084,-0.076020,1.000000,0.590374,-0.073167,0.174477
Correlated_with reviews_per_month,-0.007159,0.134642,-0.120703,0.590374,1.000000,-0.048767,0.165376
Correlated_with calculated_host_listings_count,0.019375,-0.117041,0.118647,-0.073167,-0.048767,1.000000,0.225913
Correlated_with availability_365,-0.005891,0.083666,0.138901,0.174477,0.165376,0.225913,1.000000

In [102]:
correlation_df['Correlated_with reviews_per_month'].index[3]

'Correlated_with number_of_reviews'

In [103]:
#Two features that have the biggest correlation in this dataset
correlation_df['Correlated_with reviews_per_month']
values_cor= []
for i in correlation_df['Correlated_with reviews_per_month'].values:
    if i ==1:
        print("Ignored 1")
    else:
        values_cor.append(i)
print("The biggest correlation between two features is : {} \nThe feature is Correlated_with reviews_per_month and {}".format(max(values_cor),correlation_df['Correlated_with reviews_per_month'].index[(np.where(values_cor == max(values_cor))[0][0])]))

Ignored 1
The biggest correlation between two features is : 0.5903739015971649
The feature is Correlated_with reviews_per_month and Correlated_with number_of_reviews

Question 3

In [104]:
#importing mutual_info_score
from sklearn.metrics import mutual_info_score

In [105]:
#Make price binary
above_average = (y_train>=152).astype('int')

In [106]:
above_average

array([0, 0, 0, ..., 1, 0, 0])

In [107]:
len(above_average)

29337

In [108]:
#Mutual information score for neighbourhood_group
round(mutual_info_score(df_train.neighbourhood_group, above_average),2)

0.05

In [109]:
#Mutual information score for room_type
round(mutual_info_score(df_train.room_type, above_average),2)

0.14

In [110]:
#train data with only numerical and caegorical features
df_train[categorical + numerical]

,neighbourhood_group,room_type,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,brooklyn,entire_home/apt,40.72760,-73.94495,3,29,0.70,13,50
1,manhattan,private_room,40.70847,-74.00498,1,0,0.00,1,7
2,bronx,entire_home/apt,40.83149,-73.92766,40,0,0.00,1,0
3,brooklyn,entire_home/apt,40.66448,-73.99407,2,3,0.08,1,0
4,manhattan,private_room,40.74118,-74.00012,1,48,1.80,2,67
...,...,...,...,...,...,...,...,...,...
29332,brooklyn,private_room,40.71748,-73.95685,6,5,0.13,1,0
29333,brooklyn,private_room,40.66397,-73.98538,1,7,0.17,2,0
29334,manhattan,private_room,40.79994,-73.97001,1,1,0.64,1,88
29335,brooklyn,private_room,40.69585,-73.96344,60,0,0.00,1,0
29336,brooklyn,entire_home/apt,40.64438,-73.95484,7,15,0.49,2,281

In [111]:
#validation data with only numerical and caegorical features
df_val[categorical + numerical]

,neighbourhood_group,room_type,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,brooklyn,private_room,40.70239,-73.92931,1,35,1.80,1,52
1,brooklyn,entire_home/apt,40.68498,-73.96618,14,4,0.11,2,343
2,brooklyn,entire_home/apt,40.66911,-73.94824,3,153,2.64,1,260
3,manhattan,private_room,40.79767,-73.96114,3,2,0.02,3,0
4,manhattan,entire_home/apt,40.76075,-73.99893,30,0,0.00,18,365
...,...,...,...,...,...,...,...,...,...
9774,manhattan,entire_home/apt,40.75974,-73.98924,4,2,0.14,1,5
9775,bronx,shared_room,40.80952,-73.93005,1,17,1.79,7,83
9776,manhattan,private_room,40.73058,-73.98286,1,4,0.10,1,0
9777,brooklyn,private_room,40.68858,-73.95387,1,0,0.00,1,0
9778,manhattan,entire_home/apt,40.81882,-73.94680,1,1,0.02,1,0

Question 4

In [112]:
#one-hot encoding using DictVectorizer
from sklearn.feature_extraction import DictVectorizer

In [113]:
#DictVectorizer for train and val
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [114]:
#Importing Logistic Regression
from sklearn.linear_model import LogisticRegression

In [115]:
#fitting the model
model = LogisticRegression(solver='liblinear', C=1.0, random_state=42)
#
model.fit(X_train, above_average)

LogisticRegression(random_state=42, solver='liblinear')

In [116]:
model.coef_[0].round(3)

array([ 3.000e-03,  4.000e-03, -5.815e+00, -3.165e+00, -1.100e-02,
       -8.200e-02,  1.250e-01,  1.575e+00, -3.000e-02, -1.679e+00,
       -3.000e-03, -4.200e-02,  1.959e+00, -8.170e-01, -1.233e+00])

In [117]:
#predicting the model with validation data
y_pred_val = model.predict(X_val)

In [118]:
y_pred_val

array([0, 1, 0, ..., 0, 0, 1])

In [119]:
#making validation target variable binary
price_val_binary = (y_val>=152).astype('int')

In [120]:
(price_val_binary)

array([0, 0, 1, ..., 0, 0, 0])

In [121]:
#orig_accuracy
#Accuracy of the model
orig_accuracy = (price_val_binary==y_pred_val).mean()
orig_accuracy

0.7907761529808774

Question 5

In [122]:
#creating new data frames for feature elimination
df1_train = df_train[categorical+numerical]
df1_val = df_val[categorical+numerical]

In [123]:
df1_val

,neighbourhood_group,room_type,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,brooklyn,private_room,40.70239,-73.92931,1,35,1.80,1,52
1,brooklyn,entire_home/apt,40.68498,-73.96618,14,4,0.11,2,343
2,brooklyn,entire_home/apt,40.66911,-73.94824,3,153,2.64,1,260
3,manhattan,private_room,40.79767,-73.96114,3,2,0.02,3,0
4,manhattan,entire_home/apt,40.76075,-73.99893,30,0,0.00,18,365
...,...,...,...,...,...,...,...,...,...
9774,manhattan,entire_home/apt,40.75974,-73.98924,4,2,0.14,1,5
9775,bronx,shared_room,40.80952,-73.93005,1,17,1.79,7,83
9776,manhattan,private_room,40.73058,-73.98286,1,4,0.10,1,0
9777,brooklyn,private_room,40.68858,-73.95387,1,0,0.00,1,0
9778,manhattan,entire_home/apt,40.81882,-73.94680,1,1,0.02,1,0

In [124]:
df1_train

,neighbourhood_group,room_type,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,brooklyn,entire_home/apt,40.72760,-73.94495,3,29,0.70,13,50
1,manhattan,private_room,40.70847,-74.00498,1,0,0.00,1,7
2,bronx,entire_home/apt,40.83149,-73.92766,40,0,0.00,1,0
3,brooklyn,entire_home/apt,40.66448,-73.99407,2,3,0.08,1,0
4,manhattan,private_room,40.74118,-74.00012,1,48,1.80,2,67
...,...,...,...,...,...,...,...,...,...
29332,brooklyn,private_room,40.71748,-73.95685,6,5,0.13,1,0
29333,brooklyn,private_room,40.66397,-73.98538,1,7,0.17,2,0
29334,manhattan,private_room,40.79994,-73.97001,1,1,0.64,1,88
29335,brooklyn,private_room,40.69585,-73.96344,60,0,0.00,1,0
29336,brooklyn,entire_home/apt,40.64438,-73.95484,7,15,0.49,2,281

In [125]:
 features1 = categorical + numerical

In [126]:
features1[:]

['neighbourhood_group',
 'room_type',
 'latitude',
 'longitude',
 'minimum_nights',
 'number_of_reviews',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

In [127]:
#removing each feature individually and storing in new data frames
def feat_remove():

    features = categorical + numerical

    feat_train = []
    feat_val = []
    feat_i = []
    
    for i in features:
      feat_train.append(df1_train.drop([i],axis=1))
      feat_val.append(df1_val.drop([i],axis=1))
      feat_i.append(i)

    return feat_train,feat_val,feat_i

In [128]:
#data frames with individual features being removed to train and compute the model
feat_train,feat_val,feat_removed = feat_remove()

In [129]:
#neighbourwood_group removed in first train data frame
feat_train[0]

,room_type,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,entire_home/apt,40.72760,-73.94495,3,29,0.70,13,50
1,private_room,40.70847,-74.00498,1,0,0.00,1,7
2,entire_home/apt,40.83149,-73.92766,40,0,0.00,1,0
3,entire_home/apt,40.66448,-73.99407,2,3,0.08,1,0
4,private_room,40.74118,-74.00012,1,48,1.80,2,67
...,...,...,...,...,...,...,...,...
29332,private_room,40.71748,-73.95685,6,5,0.13,1,0
29333,private_room,40.66397,-73.98538,1,7,0.17,2,0
29334,private_room,40.79994,-73.97001,1,1,0.64,1,88
29335,private_room,40.69585,-73.96344,60,0,0.00,1,0
29336,entire_home/apt,40.64438,-73.95484,7,15,0.49,2,281

In [130]:
#neighbourwood_group removed in first val data frame
feat_val[0]

,room_type,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,private_room,40.70239,-73.92931,1,35,1.80,1,52
1,entire_home/apt,40.68498,-73.96618,14,4,0.11,2,343
2,entire_home/apt,40.66911,-73.94824,3,153,2.64,1,260
3,private_room,40.79767,-73.96114,3,2,0.02,3,0
4,entire_home/apt,40.76075,-73.99893,30,0,0.00,18,365
...,...,...,...,...,...,...,...,...
9774,entire_home/apt,40.75974,-73.98924,4,2,0.14,1,5
9775,shared_room,40.80952,-73.93005,1,17,1.79,7,83
9776,private_room,40.73058,-73.98286,1,4,0.10,1,0
9777,private_room,40.68858,-73.95387,1,0,0.00,1,0
9778,entire_home/apt,40.81882,-73.94680,1,1,0.02,1,0

In [131]:
#removed feature
feat_removed[0]

'neighbourhood_group'

In [132]:
#function for storing the accuracy values using feature elimination technique 
def train_model(ft,fv,fr):
    

    from sklearn.feature_extraction import DictVectorizer


    dv = DictVectorizer(sparse=False)

    train_dict = ft.to_dict(orient='records')
    X_train = dv.fit_transform(train_dict)

    val_dict = fv.to_dict(orient='records')
    X_val = dv.transform(val_dict)

    from sklearn.linear_model import LogisticRegression

    model = LogisticRegression(solver='liblinear', random_state=42)
    
    model.fit(X_train, above_average)
    


    
    y_pred_binar = model.predict(X_val)
    
    
    price_val_binary = (y_val>=152).astype('int')

   
    accuracy_y_pred_val = (price_val_binary==y_pred_binar).mean()
    
    return accuracy_y_pred_val,fr

In [133]:

#function for storing the accuracy values using feature elimination technique in accuracy_val = [] list
def feat_remov_accuracy(ft,fv,fr):

    accuracy_val = []

    for i in range(9):
        accuracy_val.append(train_model(ft[i],fv[i],fr[i]))
        

    return accuracy_val

In [59]:
#storing the calculated accuracy value differ
accuracy_values = feat_remov_accuracy(feat_train,feat_val,feat_removed)

In [61]:
#Feature selection - the smallest difference in accuracy
accuracy_values

[(0.7498721750690255, 'neighbourhood_group'),
 (0.7286021065548625, 'room_type'),
 (0.7867880151344718, 'latitude'),
 (0.7869925350240311, 'longitude'),
 (0.7914919725943348, 'minimum_nights'),
 (0.7911851927599959, 'number_of_reviews'),
 (0.7907761529808774, 'reviews_per_month'),
 (0.7896512935883014, 'calculated_host_listings_count'),
 (0.7812659781163718, 'availability_365')]

In [63]:
#For loop calculating and storing the difference between original accuracy and accuracy calculated with feature elimination technique
accuracy_dif = []
removed_feature = []
orig_accuracy

for i in range(9):
        diff = orig_accuracy - accuracy_values[i][0]
        accuracy_dif.append(diff)
        removed_feature.append(accuracy_values[i][1])

In [65]:
#accuracy difference and corrsponding feature being removed
print("The accuracy difference values with feature elimination technique are : {} \nThe removed features of the corresponding accuracy difference values are : {}\n".format(accuracy_dif,removed_feature))

print("The smallest difference out of all the feature is : {} \nThe corresponding feature being removed is: {} \n\n ".format(min(accuracy_dif),removed_feature[np.where(accuracy_dif == min(accuracy_dif))[0][0]]))

print("The smallest different out of "'neighbourhood_group'"," 'room_type'","'number_of_reviews'"," 'reviews_per_month'" is : {} \nThe corresponding removed feature is :{}".format(accuracy_dif[5],removed_feature[5]))

The accuracy difference values with feature elimination technique are : [0.04090397791185196, 0.062174046426014984, 0.003988137846405615, 0.0037836179568463413, -0.0007158196134573469, -0.00040903977911843636, 0.0, 0.0011248593925760053, 0.009510174864505672]
The removed features of the corresponding accuracy difference values are : ['neighbourhood_group', 'room_type', 'latitude', 'longitude', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']

The smallest difference out of all the feature is : -0.0007158196134573469
The corresponding feature being removed is: minimum_nights


The smallest different out of neighbourhood_group,room_type,number_of_reviews,reviews_per_month is : -0.00040903977911843636
The corresponding removed feature is :number_of_reviews

Question 6

In [67]:
#Applying the logarithmic transformation to target variable price for all sets
y_train_log = np.log1p(y_train)
y_val_log = np.log1p(y_val)
y_test_log = np.log1p(y_test)

In [69]:
y_train_log

array([4.60517019, 4.06044301, 4.26267988, ..., 5.70378247, 4.18965474,
       4.53259949])

In [71]:
#function for calculating rmse
def rmse(y,y_pred):
    se = (y - y_pred)**2
    mse = se.mean()
    return np.sqrt(mse)

In [73]:
#function for calculating prediction values for different alpha parameters in Ridge regression model
def train_ridge_model(tr,val,alpha):
    

    from sklearn.feature_extraction import DictVectorizer


    dv = DictVectorizer(sparse=False)

    train_dict = tr[categorical + numerical].to_dict(orient='records')
    X_train = dv.fit_transform(train_dict)

    val_dict = val[categorical + numerical].to_dict(orient='records')
    X_val = dv.transform(val_dict)

    from sklearn.linear_model import Ridge

    model = Ridge(alpha = alpha)
    
    model.fit(X_train, y_train_log)
    


    
    y_pred = model.predict(X_val)
    
    
    price_val_binary = (y_val_log>=152).astype('int')

   
    accuracy_y_pred_val = (price_val_binary==y_pred).mean()
    
    return y_pred,alpha

In [75]:
#For loop storing prediction values for different alpha parameters in Ridge regression model in y_pred_values = []
y_pred_values = []
alpha_values  = []

for i in [0,0.01,0.1,1,10]:
    y_pred,alpha = train_ridge_model(df_train,df_val,i)
    y_pred_values.append(y_pred)
    alpha_values.append(i)

C:\Users\subra\anaconda3\envs\tf2.6\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=4.74051e-21): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

In [77]:
#Ridge regression model prediction values and corresponding alpha values

print("The prediction values for Ridge regression model are : {} \n \nThe corresponding Alpha Parameters are : {}".format(y_pred_values,alpha_values))

The prediction values for Ridge regression model are : [array([4.11403292, 5.21397566, 5.01012088, ..., 4.5595318 , 4.19405383,
       5.14431264]), array([4.11405448, 5.21395699, 5.01012603, ..., 4.5595196 , 4.19404933,
       5.14435076]), array([4.1142478 , 5.21378968, 5.01017209, ..., 4.55940994, 4.19400898,
       5.14469281]), array([4.116111  , 5.21218878, 5.01060186, ..., 4.55832635, 4.19362144,
       5.14801035]), array([4.12973827, 5.20108005, 5.01293916, ..., 4.54893373, 4.19086998,
       5.17337529])]

The corresponding Alpha Parameters are : [0, 0.01, 0.1, 1, 10]

In [79]:
y_pred_values

[array([4.11403292, 5.21397566, 5.01012088, ..., 4.5595318 , 4.19405383,
        5.14431264]),
 array([4.11405448, 5.21395699, 5.01012603, ..., 4.5595196 , 4.19404933,
        5.14435076]),
 array([4.1142478 , 5.21378968, 5.01017209, ..., 4.55940994, 4.19400898,
        5.14469281]),
 array([4.116111  , 5.21218878, 5.01060186, ..., 4.55832635, 4.19362144,
        5.14801035]),
 array([4.12973827, 5.20108005, 5.01293916, ..., 4.54893373, 4.19086998,
        5.17337529])]

In [81]:
len(y_val_log)

9779

In [83]:
#rounding validation set
y_val_log_rnd = []
for i in y_val_log:
    i = round(i,3)
    y_val_log_rnd.append(i)

In [85]:
len(y_val_log_rnd)

9779

In [87]:
len(y_pred_values[0])

9779

In [89]:
#Computing and storing RMSE scores for different Alpha parameters used in Ridge Regression
rmse_scores = []
for i in y_pred_values:
    score = round(rmse(y_val_log_rnd,i),3)
    rmse_scores.append(score)

In [91]:
#RMSE Scores for different Alpha Parameters
print("The different RMSE scores are : {} \n \nThe corresponding Alpha Parameters are : {}".format(rmse_scores,alpha_values))

The different RMSE scores are : [0.497, 0.497, 0.497, 0.497, 0.498]

The corresponding Alpha Parameters are : [0, 0.01, 0.1, 1, 10]